@font-face {
	font-family: graff;
	src: url('../fonts/RobinGraffitiFilledin.ttf');
}
.title{
    letter-spacing: 20px;
    opacity: 0.5;
    font-size: 50pt;
    font-family: 'graff';
    text-align: center;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.weblink{
    margin-left: 20px;
    color:rgb( 167, 153, 149)
}
.gitlink{
    color:rgb( 167, 153, 149)
}
.links{
    font-family: helvetica;
    color:black;
    text-decoration: underline;
    margin:10px ;
}
body{
    background-color: #DEE2FF;
}
::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px){
    .title{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 0px;
        font-size: 40pt;
    }
}